#img-bg{
    background-image: url('https://thumbs.dreamstime.com/b/white-stone-words-enjoy-your-life-smile-face-color-glitter-boke-background-enjoy-your-life-stone-117354108.jpg');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}